<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Try IT!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="tryitApp"
        ng-init="talks = [
          {
            'id': 1,
            'title': 'Acto de Apertura',
            'author': '(Por confirmar)',
            'starts': '2012-03-17T10:00:00+0100',
            'ends': '2012-03-17T11:00:00+0100',
            'description': 'Acto de apertura de esta segunda edición del Try IT!'
          },
          {
            'id': 2,
            'title': 'Integracion de dispositivos y domotica',
            'author': 'BABEL',
            'starts': '2012-03-18T10:30:00+0100',
            'ends': '2012-03-18T11:30:00+0100',
            'description': ''
          },
          {
            'id': 3,
            'title': 'Open Web Device: The future of the mobile web is here (Firefox OS Telefónica)',
            'author': 'German Toro del Valle',
            'starts': '2012-03-17T11:00:00+0100',
            'ends': '2012-03-17T12:00:00+0100',
            'description': 'El objetivo de esta charla es presentar el nuevo sistema operativo Firefox OS desarrollado de manera conjunta entre Mozilla y los principales operadores de telecomunicaciones a nivel internacional, entre los cuales Telefónica ocupa un papel predominante. Presentaremos las características principales así como las líneas de trabajo más relevantes de este nuevo sistema operativo que tiene por principal finalidad seguir avanzando hacia un paradigma central: convertir la Web en la plataforma que todos (desarrolladores y usuarios) necesitamos.'
          }
        ]">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">

      <h1>Talks</h1>
      <p>
        <input type="text"
              name="filterText"
              placeholder="Filter text"
              ng-model="filterText">
      </p>
      <div class="well clearfix"
           ng-repeat="talk in talks | filter:filterText | orderBy:'starts'">
        <h2>{{ talk.title }}</h2>
        <p class="meta">
          <span class="date">{{ talk.starts | date:'medium' }}</span>
          <span class="author">{{ talk.author }}</span>
        </p>

        <p class="description">
          <img class="pull-left"
               width="160"
               height="160"
               ng-src="images/{{ talk.image || 'robot_question.png' }}">
          {{ talk.description }}
        </p>
      </div>

    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
</body>
</html>
